.paralax {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.landscape1 .landscape2 .landscape3 .front {
  position: absolute;
  max-width: 100vh;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
}

.landscape1 .landscape2 .landscape3 .front img {
  min-width: 100vh;
  max-width: 100vh;
}

.landscape3 {
  transform: translateZ(-20px) scale(4);
  z-index: -3;
}

.landscape2 {
  transform: translateZ(-15px) scale(2.5);
  z-index: -2;
}

.landscape1 {
  transform: translateZ(-10px) scale(2);
  z-index: -3;
}

.front {
  transform: translateZ(-5px) scale(1.5);
  z-index: 0;
}
