.NavBar {
  display: flex;
  gap: 6rem;
  font-weight: 600;
}

.NavBar a {
  transition: 0.2s ease-out;
  font-size: 1.5rem;
}

a:hover {
  transform: scale(1.1);
}

.NavBar a:global(.active) {
  text-decoration: underline;
}
