.NavBar {
  display: flex;
  gap: 2rem;
  font-weight: 600;
  text-align: center;
  align-self: center;
  padding-left: 15%;
}

.NavBar img {
  max-width: 2rem;
  padding-right: 0.5rem;
}

.NavBar a {
  transition: 0.2s ease-out;
  font-size: 1.5rem;
}

.NavBar a:hover {
  transform: scale(1.1);
}

.NavBar a:global(.active) {
  text-decoration: underline;
}

.navLink {
  display: flex;
  flex-direction: row;
}
