.topBar {
  background-color: var(--color-olive);
  color: var(--color-black);
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 6rem;
  z-index: 999;
  max-width: 100vw;
}

.userIcons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  text-align: center;
  justify-self: right;
  align-self: center;
  padding-right: 15%;
}

.userIcons img {
  max-width: 2rem;
  transition: ease-in 0.2s;
}

.userIcons img:hover {
  transform: scale(1.2);
}

.userIcons p {
  font-size: 0.75rem;
  font-weight: 600;
}

.logo {
  align-self: center;
  justify-self: center;
}
